<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      
      <diagramTextProvider providerClass="net.sourceforge.plantuml.jdt.JavaEditorDiagramTextProvider"/>
      <diagramTextProvider providerClass="net.sourceforge.plantuml.jdt.ClassFileEditorDiagramTextProvider"/>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="PlantUML Project Class Diagram"
            icon="platform:/plugin/net.sourceforge.plantuml.eclipse/icons/p5.gif"
            category="net.sourceforge.plantuml.eclipse"
            class="net.sourceforge.plantuml.jdt.ui.JdtPlantUmlView"
            id="net.sourceforge.plantuml.jdt.ui.JdtPlantUmlView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.plantuml.jdt.ui.ProjectClassDiagramPreferencePage"
            id="net.sourceforge.plantuml.jdt.ui.ProjectClassDiagramPreferencePage"
            category="net.sourceforge.plantuml.preferences.about"
            name="Java Project Class Diagram">
      </page>
   </extension>
   
   <extension
         point="net.sourceforge.plantuml.eclipse.linkOpener">
      <linkOpener
            linkOpenerClass="net.sourceforge.plantuml.jdt.JavaLinkOpener">
      </linkOpener>
   </extension>

</plugin>
