<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="net.sourceforge.plantuml.eclipse.tests.testProject">
		<testProject
			projectName="ecoreeditortest"
			projectConfigurer="net.sourceforge.plantuml.ecore.test.EcoreProjectConfigurer"
			/>
	</extension>

	<extension point="net.sourceforge.plantuml.eclipse.tests.testFile">
		<testFile
			sourceFileUri="platform:/plugin/net.sourceforge.plantuml.ecore.tests/model/sample.ecore"
			targetPath="/ecoreeditortest/model"
			/>
		<testFile
			sourceFileUri="platform:/plugin/net.sourceforge.plantuml.ecore.tests/model/sample.xmi"
			targetPath="/ecoreeditortest/model"
			/>
	</extension>

</plugin>
