<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.sourceforge.plantuml.eclipse.diagramTextProvider">
      <diagramTextProvider
            id="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.TextEditorDiagramTextProvider"
            label="Diagrams in text editor"
            >
      </diagramTextProvider>

      <diagramTextProvider
            id="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            providerClass="net.sourceforge.plantuml.text.console.ConsoleViewDiagramTextProvider"
            label="Diagrams in text console"
            >
      </diagramTextProvider>
   </extension>

</plugin>
