<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="net.sourceforge.plantuml.preferences.about"
            class="net.sourceforge.plantuml.preferences.WorkbenchPreferencePage"
            name="PlantUML">
      </page>
      <page
            id="net.sourceforge.plantuml.preferences.DiagramTextProvidersPreferencePage"
            class="net.sourceforge.plantuml.preferences.DiagramIntentProvidersPreferencePage"
            category="net.sourceforge.plantuml.preferences.about"
            name="Diagram text providers">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PlantUml"
            id="net.sourceforge.plantuml.eclipse">
      </category>
      <view
            name="PlantUML"
            icon="icons/p5.gif"
            category="net.sourceforge.plantuml.eclipse"
            class="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
            id="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
            allowMultiple="true"
            >
      </view>
      <view
            name="PlantUML Source"
            icon="icons/p5.gif"
            category="net.sourceforge.plantuml.eclipse"
            class="net.sourceforge.plantuml.eclipse.views.DiagramSourceView"
            id="net.sourceforge.plantuml.eclipse.views.DiagramSourceView"
            allowMultiple="true"
            >
      </view>
      <view
            name="PlantUML Svg"
            icon="icons/p5.gif"
            category="net.sourceforge.plantuml.eclipse"
            class="net.sourceforge.plantuml.eclipse.svg.PlantUmlSvgView"
            id="net.sourceforge.plantuml.eclipse.views.PlantUmlSvgView"
            allowMultiple="true"
            >
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="net.sourceforge.plantuml.eclipse.views.PlantUmlView"
               minimized="true"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   
	<extension point="org.eclipse.core.resources.markers" 
    	id="plantumlmarker" 
      	name="Plant UML marker">
      	<super type="org.eclipse.core.resources.marker"/>
      	<persistent value="true"/>
      	<attribute name="original"/>
      	<attribute name="diagramSource"/>
      	<attribute name="derivation"/>
   	</extension>

   <extension-point id="diagramTextProvider" name="Diagram Text Provider" schema="schema/diagramTextProvider.exsd"/>
   <extension-point id="diagramIntentProvider" name="Diagram Intent Provider" schema="schema/diagramIntentProvider.exsd"/>
   <extension-point id="linkOpener" name="Link Opener" schema="schema/linkOpener.exsd"/>
   <extension
         point="net.sourceforge.plantuml.eclipse.linkOpener">
      <linkOpener
            linkOpenerClass="net.sourceforge.plantuml.eclipse.utils.DefaultLinkOpener">
      </linkOpener>
      <linkOpener
            linkOpenerClass="net.sourceforge.plantuml.eclipse.utils.PlatformLinkOpener">
      </linkOpener>
      <linkOpener
            linkOpenerClass="net.sourceforge.plantuml.eclipse.utils.MarkerLinkOpener">
      </linkOpener>
   </extension>
</plugin>
